<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>Open-Typer</Name>
	<Version>5.0.1</Version>
	<Title>Open-Typer</Title>
	<Publisher>adazem009</Publisher>
	<StartMenuDir>Open-Typer</StartMenuDir>
	<TargetDir>@ApplicationsDir@/Open-Typer</TargetDir>
	<InstallerWindowIcon>windowicon.png</InstallerWindowIcon>
	<InstallerApplicationIcon>appicon</InstallerApplicationIcon>
	<WizardStyle>Modern</WizardStyle>
	<StyleSheet>style.qss</StyleSheet>
	<ControlScript>controller.qs</ControlScript>
	<RemoteRepositories>
		<Repository>
			<Url>http://open-typer.github.io/installer</Url>
			<Enabled>1</Enabled>
			<DisplayName>Open-Typer official repository</DisplayName>
		</Repository>
	</RemoteRepositories>
</Installer>
